<header>
    <h1>{{title}}</h1>
    <nav> 
        <a href="/"><button>Home</button></a>
        <a href="/help"><button>Help!!!!</button></a>
        <a href="/about"><button>About</button></a>
    </nav>
</header>