<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About</title>
        <link rel="stylesheet" href="/styles/index.css" />
        <link rel="icon" href="/img/weather.png">
    </head>
    <body>
        {{>header}}
        <main><h1>Hi there, i'm {{name}}!</h1>
        <h2>i'm {{age}}</h2>
        <img src="/img/duck.jpg" alt="a duck" /></main>
        {{>footer}}
    </body>
</html>
